body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgba(22, 22, 23, .8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
    box-sizing: border-box;
    margin: 0 auto;
}

.nav ul{
    margin: 0 -8px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: .3s;
}

.nav ul li a:hover{
    font-size: 17px;
    transition-duration: .3s;
}

.nav ul li a .logo-nav-img{
    height: 17px;
    transition-duration: .3s;
}

.nav ul li a .logo-nav-img:hover{
    height: 22px;
    transition-duration: .3s;
}

.nav ul li a .search-nav-img{
    height: 15px;
    transition-duration: .3s;
}

.nav ul li a .search-nav-img:hover{
    height: 20px;
    transition-duration: .3s;
}

.nav ul li a .bag-nav-img{
    height: 16px;
    transition-duration: .3s;
}

.nav ul li a .bag-nav-img:hover{
    height: 21px;
    transition-duration: .3s;
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 624px;
    background-color: rgb(0, 0, 0);
}

.hyperlink a{
    width: 100%;
    height: 627px;
    position: absolute;
    display: inline-block;
}

.hero-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f7;
    padding-top: 47px;
    margin-top: 44px;
}

.hero-text h2{
    font-size: 56px;
    line-height: 1.07143px;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.hero-text h3{
    font-size: 28px;
    line-height: 1.10722px;
    letter-spacing: .004em;
    font-weight: 400;
}

.hero-link a{
    text-decoration: none;
    color: #2997ff;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.231px;
    line-height: 29.001px;
    position: relative;
    z-index: 1;
}

.hero-link a:hover{
    text-decoration: underline;
}

.hero-link span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2997ff;
    margin-left: 20px;
    margin-right: 20px;
}

.hero-img img{
    width: 100%;
}

.hero2{
    position: absolute;
    top: 641px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 580px;
    background-color: #f5f5f7;
}

.hyperlink2 a{
    width: 100%;
    height: 583px;
    position: absolute;
    display: inline-block;
}

.hero-text2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d1f;
    padding-top: 47px;
}

.hero-text2 h2{
    font-size: 56px;
    line-height: 1.07143px;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.hero-text2 h3{
    font-size: 28px;
    line-height: 1.10722px;
    letter-spacing: .004em;
    font-weight: 400;
}

.hero-link2 a{
    text-decoration: none;
    color: rgb(0, 102, 204);
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.231px;
    line-height: 29.001px;
    position: relative;
    z-index: 1;
}

.hero-link2 a:hover{
    text-decoration: underline;
}

.hero-link2 span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 102, 204);
    margin-left: 20px;
    margin-right: 20px;
}

.hero-img2 img{
    width: 100%;
}

.footer{
    width: 100%;
    height: 437px;
    background-color: #f5f5f7;
    margin-top: 1235px;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer a{
    display: block;
    color: rgb(66, 66, 69);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer p{
    color: rgb(29, 29, 31);
    font-size: 12px;
    font-weight: 600;
}

.box2{
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
    box-sizing: border-box;
    margin: 0 auto;
}

.box2 a{
    display: inline-block;
    text-decoration: underline;
    color: rgb(0, 102, 204);
}

.contact p{
    font-weight: 400;
}

.box3{
    width: 100%;
    height: 50px;
    background-color: #f5f5f7;
    margin-top: -12px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6e73;
}
